body {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 10px solid wheat;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}

/*Element selector and border*/
h1{
    border-style: solid;
    border-color: wheat;
    border-width: thick;
    border-radius: 50px;
    text-align: center;
}

/* changing colors of the explanation section*/
.explanation {
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
}

h3.explanation{
    color: rgb(255,100,100)
}

aside.explanation{
    background-color:  hsl(0,50%,75%);
    color: #050;
    margin: 20px 20px 20px 20px;
    
}

/*Changing properties of the form section*/
#song {
    background-color: tomato;
}

[class~="hotmail"] {
    text-decoration:underline;
}

/*Pseudo class selector*/
.hotmail:hover {
    background-color: black;
    color: red;
}

button:active{
    color: red;
    background-color: black;
}

@media screen and (max-width: 500px) {
    * {
      background-color: black;
      color: wheat;
    }
  }

