

/*Element selector and border*/
h1{
    border-style: solid;
    border-color: wheat;
    border-width: thick;
    border-radius: 50px;
}

/* changing colors of the explanation section*/
.explanation {
    background-color: black;
    color: white;
}

h3.explanation{
    color: rgb(255,100,100)
}

aside.explanation{
    background-color:  hsl(0,50%,75%);
    color: #050
}

/*Changing properties of the form section*/
#song {
    background-color: tomato;
}



